@import 'tailwindcss';

@source "../**/*.blade.php";
@source "../**/*.js";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@plugin "daisyui";

@layer base {
    [x-cloak] { display: none !important; }
}

.htmx-indicator { opacity: 0; transition: opacity 200ms ease-in; }
.htmx-request .htmx-indicator { opacity: 1; }
.htmx-request.htmx-indicator { opacity: 1; }
